html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

header {
    grid-row-start: 0;
    grid-row-end: 1;
}

main {
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 30px;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
}